.product-list{
  padding: 10px 50px;

  &-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 41px;
    margin-bottom: 24px;
    div{
      height: 3px;
      width: 100px;
      background-color: $color-primary;
    }
  }

  &-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }


  .product-card{
  box-shadow: $box-shadow;
  width: 250px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-radius: 15px;
  margin: 0 15px 15px 0;

  .info{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1 1 auto;
    text-align: center;
  }
}
}

